<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>

<form th:action="@{/logout}" method="post" style="display:inline;">
    <button type="submit">Logout</button>
</form>

<form th:action="@{/admin/update(id=${user.id})}" method="post" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username" required>
    <br>
    <label for="lastName">LastName:</label>
    <input type="text" th:field="*{lastName}" id="lastName" required>
    <br>

    <button type="submit">Update</button>
</form>

<a href="/admin">Back to List</a>
</body>
</html>