<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New User</title>
</head>
<body>
<h1>Create New User</h1>

<!-- Кнопка Logout -->
<form th:action="@{/logout}" method="post" style="display:inline;">
    <button type="submit">Logout</button>
</form>

<form th:action="@{/admin}" method="post" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" required>
    <br>

    <button type="submit">Create</button>
</form>
<a href="/admin">Back to List</a>
</body>
</html>