<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>

<form th:action="@{/logout}" method="post" style="display:inline;">
    <button type="submit">Logout</button>
</form>

<p>ID: <span th:text="${user.id}"></span></p>
<p>Username: <span th:text="${user.username}"></span></p>
<p>LastName: <span th:text="${user.lastName}"></span></p>
<p>Roles: <span th:text="${user.roles}"></span></p>
<a href="/admin">Back to List</a>
</body>
</html>