<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h1>User Info</h1>

<form th:action="@{/logout}" method="post" style="display:inline;">
    <button type="submit">Logout</button>
</form>

<p>Username: <span th:text="${user.username}"></span></p>
<p>LastName: <span th:text="${user.lastName}"></span></p>
<p>Roles: <span th:text="${user.roles}"></span></p>

<a th:href="@{/user/changePassword(id=${user.id})}">Change Password</a>
</body>
</html>